.App {
  text-align: center;
}

.App ::-webkit-scrollbar {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'Pragmatica ExtraLight Reg';
  font-style: normal;
  font-weight: normal;
  src: local('Pragmatica ExtraLight Reg'), url('../public/fonts/Pragmatica-ExtraLight.woff') format('woff');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Pragmatica ExtraLight Reg';
  /*font-family: 'Helvetica Neue';*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}